// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Grid
// =============================================================================

@mixin grid($column) {
	  width:(100% / 12) * $column;
	  margin:0 auto;
}

// =============================================================================
// Pages layout
// =============================================================================

@mixin half_page_left($color) {
	margin: 0;
	width: 50%;
	max-width: 50%;
	height: 100vh;
	max-height: 100vh;
	text-align: center;
	float: left;
	background-color:$color;
	position: absolute;
	left:0;
	-webkit-transition: 1s width cubic-bezier(.77, 0, .175, 1);
	transition: 1s width cubic-bezier(.77, 0, .175, 1);
	z-index: 199;
}
@mixin half_page_right($color) {
	margin: 0;
	width: 50%;
	max-width: 50%;
	left: 50%;
	height: 100vh;
	max-height: 100vh;
	text-align: left;
	float: right;
	background-color:$color;
	position: relative;
	-webkit-transition: 1s width cubic-bezier(.77, 0, .175, 1) 0, 1s left cubic-bezier(.77, 0, .175, 1) 0;
	transition: 1s width cubic-bezier(.77, 0, .175, 1) 0, 1s left cubic-bezier(.77, 0, .175, 1) 0;
	z-index: 100;
}
@mixin page($color, $height) {
	width: 100%;
	height: $height;
	max-height: $height;
	text-align: center;
	background-color:$color;

}
// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
	  -webkit-transition: $attr $time $curve;
	  -moz-transition: $attr $time $curve;
	  -o-transition: $attr $time $curve;
	  -ms-transition: $attr $time $curve;
	  transition: $attr $time $curve;
}
