/*
* Fonts
*/
/*titles font*/
@font-face {
  font-family: "Mightype Script";
  src: url('fonts/"Mightype Script".eot?') format("eot"), url('fonts/"Mightype Script".woff2') format("woff2"), url('fonts/"Mightype Script".woff') format("woff"), url('fonts/"Mightype Script".ttf') format("truetype"), url('fonts/"Mightype Script".svg#Mightype_Script') format("svg"); }
/*text font*/
@font-face {
  font-family: "CharlevoixPro-Light";
  src: url('fonts/"CharlevoixPro-Light".eot?') format("eot"), url('fonts/"CharlevoixPro-Light".woff2') format("woff2"), url('fonts/"CharlevoixPro-Light".woff') format("woff"), url('fonts/"CharlevoixPro-Light".ttf') format("truetype"), url('fonts/"CharlevoixPro-Light".svg#CharlevoixPro-Light') format("svg"); }
/*
Design colors
 */
/*
Images sizes
 */
h2 a {
  position: relative;
  display: inline-block;
  margin: 15px;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); }

h2 a:hover,
h2 a:focus {
  outline: none;
  color: #fff; }

.job-effect a {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  width: 200px; }

.job-effect a span {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #9A396A;
  -webkit-transition: -webkit-transform 0.4s, background 0.4s;
  -moz-transition: -moz-transform 0.4s, background 0.4s;
  transition: transform 0.4s, background 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -100px;
  -moz-transform-origin: 50% 50% -100px;
  transform-origin: 50% 50% -100px; }

.job-effect a span::before {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #9A396A;
  content: attr(data-hover);
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none; }

.job-effect a:hover span,
.job-effect a:focus span {
  background: #BB4481;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  transform: rotateY(-90deg); }

.job-effect a:hover span::before,
.job-effect a:focus span::before {
  right: 60%;
  background: #9A396A; }

.menu_home a {
  color: rgba(0, 0, 0, 0.2);
  text-shadow: none; }

.menu_home a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s; }

.menu_home a:hover::before,
.menu_home a:focus::before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0; }

html {
  font-family: "CharlevoixPro-Light";
  color: #222;
  font-size: 100%;
  line-height: 1.4;
  position: relative;
  min-height: 100%; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1; }

header {
  background-color: #BB4481;
  width: 100%;
  height: 100vh;
  text-align: center; }

.big_separator {
  background-image: url("../img/big_separator.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 35%;
  height: 70%;
  margin: auto; }

.menu_home {
  font-size: 2em;
  margin: auto;
  margin-top: 0.5%;
  margin-bottom: 0; }

.menu_home ul {
  height: auto;
  padding: 2% 0;
  margin: 0; }

.menu_home li {
  display: inline;
  padding: 1%;
  font-weight: lighter; }

.separator {
  height: 3%;
  width: 3%;
  margin: 0.5% 0; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: #474D53; }

.menu_white a {
  color: white; }

.menu_white a:hover {
  color: gainsboro; }

article {
  width: 100%;
  padding: 0;
  text-align: center; }

.left_about {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
  float: left;
  background-color: #9A396A; }

.right_about {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  text-align: left;
  float: right;
  background-color: white; }

.content {
  padding-top: 10vh;
  padding-left: 20vh;
  padding-right: 10vh;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto; }

span.my_photo {
  z-index: 2;
  position: absolute;
  margin-top: 2%;
  margin-left: -30%; }

.left_work {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
  float: left;
  background-color: gainsboro; }

.right_work {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  text-align: left;
  float: right;
  background-color: white; }

.left_contact {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
  float: left;
  background-color: #474D53; }

.right_contact {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  text-align: left;
  float: right;
  background-color: white;
  text-align: center; }

.menu_black, .menu_white {
  margin: auto;
  position: relative;
  top: 70%;
  transform: translateY(-70%); }

.menu_black ul, .menu_white ul {
  height: auto;
  padding: 2% 0;
  margin: 0px; }

.menu_black li, .menu_white li {
  display: inline;
  padding: 1%; }

.menu_white {
  color: white; }

h1 {
  font-family: "Mightype Script";
  font-weight: normal;
  font-size: 10em;
  margin: auto;
  line-height: 85%;
  padding-top: 20%; }

h2 {
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
  margin: auto; }

h3 {
  font-size: 0em; }

h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Mightype Script";
  font-size: 6em;
  font-weight: lighter;
  margin: auto; }

h5 {
  font-size: 1.5em; }

.title_white {
  color: white; }

.title_colored {
  color: #9A396A; }

div.icons {
  padding: 0 7% 0; }

img.social_icon {
  height: 70px;
  width: 70px; }

#form_section {
  font-size: 80%;
  background: white;
  margin: 5% auto 0;
  text-align: center;
  padding: 2vh 0 0;
  width: 100%; }

form {
  width: 58.33333%;
  margin: 0 auto; }
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px; }
    form .field label {
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      background: #474D53;
      width: 100%;
      padding: 15px 0;
      font-size: 1.45em;
      letter-spacing: 0.075em;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out; }
      form .field label + span {
        opacity: 0;
        color: white;
        display: block;
        position: absolute;
        top: 12px;
        left: 7%;
        font-size: 1.45em;
        text-shadow: 1px 2px 0 #9A396A;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out; }
    form .field input[type="text"],
    form .field textarea {
      border: none;
      background: #E8E9EA;
      width: 73%;
      margin: 0;
      padding: 15px 0;
      padding-left: 27%;
      color: #474D53;
      font-size: 1.45em;
      letter-spacing: 0.05em;
      height: 25px; }
      form .field input[type="text"]#msg,
      form .field textarea#msg {
        height: 25px;
        resize: none;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out; }
      form .field input[type="text"]:focus, form .field input[type="text"].focused,
      form .field textarea:focus,
      form .field textarea.focused {
        outline: none; }
        form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
        form .field textarea:focus#msg,
        form .field textarea.focused#msg {
          padding-bottom: 100px; }
        form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
        form .field textarea:focus + label,
        form .field textarea.focused + label {
          width: 25%;
          background: #BB4481;
          color: white; }
      form .field input[type="text"].focused + label,
      form .field textarea.focused + label {
        color: #BB4481; }
    form .field:hover label {
      width: 25%;
      background: #474D53;
      color: white; }
  form input[type="submit"] {
    background: #BB4481;
    color: white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out; }
    form input[type="submit"]:hover {
      background: #474D53;
      color: #BB4481; }
    form input[type="submit"]:focus {
      outline: none;
      background: #9A396A; }

footer {
  background-color: #BB4481;
  height: 100vh;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
