
@import 'mixins';
@import 'variables';
@import 'effects';
///////////////////////////////////////////////////////////////DOCUMENT STYLE///////////////////////////////////////////////////////////////

html {
  font-size: 100%;
}

article {
  flex-direction: row;
}

.menu_icon {
  display: none;
}
.left_about {
	@include half_page_left($blue);

}
.right_about {
	@include half_page_right(white);
}
.left_skills {
	@include half_page_left($light-grey);
}
.right_skills {
	@include half_page_right(white);
}
.left_work {
	@include half_page_left($yellow);
}
.right_work {
	@include half_page_right(white);
}
.left_contact {
	@include half_page_left($green);
}
.right_contact {
	@include half_page_right(white);
	text-align: center;
}
h1{
    width: 35%;
  font-size: 10em;
	line-height: 85%;
}
.content {
  padding-top: 10vh;
  padding-left: 10vh;
  padding-right: 10vh;

}
span.my_photo {
  display: block;
  position: absolute;
  margin-top: 2%;
  margin-left: -11vh;
  margin-bottom: 2%;
  right: -67px;
  top: 50px
}
.menu_black{
  display:block;
  margin: auto;
  position: relative;
  top: 70%;
  transform: translateY(-70%);
}
img.social_icon {

  height: 50px;
  width: 50px;
}
// Form
form {
		  @include grid(7);

		  .field {

			    margin-bottom:15px;

    			$hover-label-width:30%;
			    $placeholder-bumper:2%;
			    $label-padding:25px;

    			// Label
			    label {
				      font-size: 1.45em;
				      letter-spacing: 0.075em;
              height: 25px;

			    }

    			// Fields
		    	input[type="text"],
			    textarea {
				      font-size: 1.2em;
				      letter-spacing: 0.05em;
							height: 25px;


				      &#msg {
					        height: 25px;
				      }

      				// Focus and JS Toggle Class
				      &:focus,
				      &.focused {
					        outline:none;
        					&#msg {
						          padding-bottom:100px;
					        }
				      }
			    }
		  }

		  // Submit Button
		  input[type="submit"] {

		    padding: 13px 50px;
		    font-size: 1.4em;
		    letter-spacing: 0.1em;

		  }
	}
