

///////////////////////////////////////////////////////////////DOCUMENT STYLE///////////////////////////////////////////////////////////////

 img.social_icon {

   height: 40px;
   width: 40px;
 }

html {
  font-size: 90%;
}
h1{
  font-size: 7em;
	line-height: 85%;

}
