

///////////////////////////////////////////////////////////////DOCUMENT STYLE///////////////////////////////////////////////////////////////

html {
  font-size: 90%;
}
h1{
  font-size: 7em;
	line-height: 85%;

}
